/* Nested selectors, rucksack shortcuts & cssnext enabled, go wild! */

/*------------------------------------*\
    Global css
\*------------------------------------*/

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Black.otf');
  font-weight: 900;
  font-style: normal;
}

:root {
	--text-color: #FFFFFF;
	--background-color: #323232;
	--accent-color: #06D19C;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'CircularStd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: responsive 14px 18px;
  font-range: 420px 1280px;
  color: var(--text-color);
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  min-height: calc(100vh - 3rem);
  padding: 15vh 1rem;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}



.card {
  padding: 1rem;
  background-color: #1A1A1A;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  min-height: 420px;
  .info {
    width: 50%;
    padding: 1rem;
    text-align: center;
  }
  
  .todo-list {
    width: 50%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #212121;
    min-height: 320px;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    .info,
    .todo-list {
      width: 100%;
    }
  }
}



.state-viewer {
  margin: 3rem 0;
  text-align: center;
  >pre {
    text-align: left;
    padding: 1rem;
    background-color: #212121;
    border-radius: 1rem;
  }
}

footer {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: inherit;
}

button, input, select, textarea {
  background-color: transparent;
  border: none;
  color: inherit;
  &:focus {
    outline: none;
  }
}


input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(255,255,255,0.1);
  border-radius: 3rem;
}

button {
  cursor: pointer;
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

svg {
  fill: none;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}


.new-item-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
}


.item {
  overflow: hidden;
  border-radius: 3rem;
  &:hover {
    background-color: rgba(255,255,255,0.05);
  }
  >.inner {
    display: flex;
    align-items: stretch;
    >.name {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 0.5rem;
    }
  }
}

