/* Nested selectors, rucksack shortcuts & cssnext enabled, go wild! */

/*------------------------------------*\
    Global css
\*------------------------------------*/

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/CircularStd/CircularStd-Black.otf');
  font-weight: 900;
  font-style: normal;
}

:root {
	--text-color: #FFFFFF;
	--background-color: #323232;
	--accent-color: #06D19C;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'CircularStd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: responsive 16px 18px;
  font-range: 420px 1280px;
  color: var(--text-color);
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  min-height: calc(100vh - 3rem);
  padding: 15vh 1rem;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding: 0;
  }
}


a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: var(--accent-color);
  }
}



pre {
  font-size: 0.85rem;
}
button, input, select, textarea {
  background-color: transparent;
  border: none;
  color: inherit;
  &:focus {
    outline: none;
  }
}


input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(255,255,255,0.1);
  border-radius: 3rem;
  &:hover {
    background-color: rgba(255,255,255,0.15);
  }
  &:focus {
    /* border: 0.05rem solid var(--accent-color); */
  }
}

button {
  cursor: pointer;
  padding: 0.5rem;
  &:hover {
    color: var(--accent-color)
  }
}

img {
  max-width: 100%;
}

svg {
  fill: none;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}





/*------------------------------------*\
    Card layout
\*------------------------------------*/

.card {
  padding: 1rem;
  background-color: #1A1A1A;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  min-height: 420px;
  .left {
    width: 50%;
    padding: 1rem;
    text-align: center;
  }
  .right {
    width: 50%;
    .info {
      padding: 1rem;
      margin: auto 0 0 0;
      font-size: 0.67rem;
      opacity: 0.67;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  @media (max-width: 768px) {
    border-radius: 0;
    flex-direction: column;
    .left,
    .right {
      width: 100%;
    }
  }
}




/*------------------------------------*\
    Todo list widget
\*------------------------------------*/

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #212121;
  min-height: 320px;
  >.new-item-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  >h4 {
    padding: 0 0.5rem;
  }
  >.list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    >.item {
      overflow: hidden;
      border-radius: 3rem;
      &:hover {
        background-color: rgba(255,255,255,0.05);
      }
      >.inner {
        display: flex;
        align-items: stretch;
        &.done {
          opacity: 0.5;
        }
        >.name {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0 0.5rem;
          cursor: text;
        }
      }
    }
  }
}






/*------------------------------------*\
    State viewer
\*------------------------------------*/

.state-viewer {
  margin: 3rem 0;
  text-align: center;
  >a {
    font-size: 0.67rem;
  }
  >pre {
    text-align: left;
    padding: 1rem;
    background-color: #212121;
    border-radius: 1rem;
  }
  @media (max-width: 768px) {
    >pre {
      border-radius: 0;
    }
  }
}


